<!doctype html>
<html>
    <head>
	    <title> Jobs </title>
		<meta charset='utf-8'>
	<style>
	    table, th, td{
		  border:1px dashed red; 
		}
	</style>
	</head>
	<body>
	   <h2>工作列表</h2>
	   <table>
	      <tr>
		     <th>資料來源</th>
			 <th>刊登日期</th>
		     <th>職務名稱</th>
			 <th>公司名稱</th>
			 <th>工作地點</th>
			 <th>職缺網址</th>
		  </tr>
          {% for r in jobs %}	  
	    <tr>
           <td> {{ r.src }} </td>
		   <td> {{ r.postdate }} </td>
		   <td> {{ r.title }} </td>
		   <td> {{ r.company }} </td>
		   <td> {{ r.loc }} </td>
		   <td><a href="{{ r.url }}"> {{ r.url }} </a></td>
		</tr>
        {% endfor %}
       </table>
	   <!-- <input type="submit" value="觀看工作"> -->
	   </form>
    </body>
</html>	